.filter-bar{

    display:flex;

    gap:10px;

    overflow-x:auto;

    padding:15px 0;

}

.filter-btn{

    border:none;

    padding:8px 18px;

    border-radius:8px;

    background:#f2f2f2;

    cursor:pointer;

    white-space:nowrap;

}

.filter-btn:hover{

    background:#dcdcdc;

}

.filter-btn.active{

    background:black;

    color:white;

}