.admin-table {
  width: 100%;
  overflow-x: auto;
  display: block;
}


.admin-table th{

    text-align:left;

    padding:15px;

    background:#f2f2f2;

}

.admin-table td{

    padding:15px;

    border-bottom:1px solid #dddddd;

}

.admin-table tr:hover{

    background:#fafafa;

}

.table-thumbnail {
  width: 80px;
}

.edit-btn{

    border:none;

    background:black;

    color:white;

    padding:8px 14px;

    margin-right:10px;

    border-radius:6px;

    cursor:pointer;

}

.delete-btn{

    border:none;

    background:red;

    color:white;

    padding:8px 14px;

    border-radius:6px;

    cursor:pointer;

}

@media (max-width: 768px) {

  .table-thumbnail {
    width: 60px;
  }

  .admin-table th,
  .admin-table td {
    font-size: 14px;
    padding: 8px;
  }

}