.video-card{

    display:flex;

    flex-direction:column;

    cursor:pointer;

}

.video-thumbnail{

    width:100%;

    border-radius:12px;

    object-fit:cover;

}

.video-info{

     padding:12px 0;

}

.video-info h3{

    margin:0 0 8px;

    font-size:17px;

    font-weight:600;

}

.video-info p{

    color:#606060;

    font-size:14px;

    margin:0;

}
.video-card:hover{

    transform:scale(1.02);

    transition:0.3s;

}

.video-link{

    display:flex;

    flex-direction:column;

    text-decoration:none;

    color:inherit;

}