.sidebar{
width:220px;
flex-shrink:0;
padding:15px 10px;
border-right:1px solid #e5e5e5;
background:#fff;
min-height:calc(100vh - 70px);
transition:.3s;
}

.sidebar-item{
display:flex;
align-items:center;
gap:15px;
padding:12px 15px;
margin-bottom:5px;
border-radius:10px;
cursor:pointer;
text-decoration:none;
color:#000;
font-size:16px;
font-weight:500;
transition:.2s;
}

.sidebar-item:hover{
background:#f2f2f2;
}

.sidebar-item svg{
font-size:20px;
min-width:20px;
}

.sidebar-item span{
white-space:nowrap;
}

.sidebar.collapsed{
width:70px;
}

.sidebar.collapsed .sidebar-item span{
display:none;
}

.sidebar.collapsed .sidebar-item{
justify-content:center;
}

.sidebar.collapsed .sidebar-item svg{
margin:0;
}